<p class="main-text">Boas vindas ao #BurningLan 2023</p>

<div class="container">
  <div class="row">
    <div class="home-info">
      <div class="col-lg-4">
        <img src="../../assets/images/banda-home.jpg" />
      </div>
      <div class="col-lg-4">
        <p>
          Hora de programar nossa memória com novas lembranças! Uma nova
          experiência sobre música, linguagens e, claro, tecnologia! Somos um
          festival diverso, com vários artistas e referências. Divirta-se!
        </p>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2"></div>
  </div>
</div>
